// Text-color
$text-color--primary: #4E4E4E;
$text-color--secondary: #5C5C5C;
$text-color--tertiary: #7C7C7C;
$text-color--quaternary: #B9B9B9;
$text-color--white: #FEFEFE;

// Background-color
$dark: #000;
$gray: #F5F5F5;
$white: #FFF;


// Font-size
$font-size: 16px;
$font-size--h1: 16px;
$font-size--h2: 16px;

$font-size--navbar: 11px;

$font-size--normal: 14px;
$font-size--small: 12px;

// Screen-size
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;