body {
    background-color: #242132;
}

.image-to-show {
    width: 400px;
    height: 400px;

    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-to-show.active {
    display: inline;
}











.button-wrapper {
    display: flex;
    justify-content: center;

    margin: 50px auto 0;
}


.button {
    display: flex;
    justify-content: center;
}
.button.stop {
    margin-right: 20px;
}

.button-1 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    color: #766AD0;
    border: 1px solid #3A374C;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s linear;
}

.button-1:before, .button-1:after, .link-content:before, .link-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}

.button-1:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #614DFF;
    border-top: 1px solid #614DFF;
}

.button-1:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #614DFF;
    border-right: 1px solid #614DFF;
}

.link-content:after {
    right: -1px;
    top: -1px;
    border-right: 1px solid #614DFF;
    border-top: 1px solid #614DFF;
}

.link-content:before {
    left: -1px;
    bottom: -1px;
    border-bottom: 1px solid #614DFF;
    border-left: 1px solid #614DFF;
}

.button-1:hover {
    color: #614DFF;
    border-color: #614DFF;
}